.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts

node_modules
package-json.lock
yarn.lock
tsconfig.json
.gitignore
.git
.env
.env.prod
.env.staging
.env.test
